.container{
    background-color: #fff;
    border-radius: 2rem;
    margin: 0 auto;
    @media only screen and (max-width: 31.25em){
        background-color: #eef5ff;
        border-radius: 0;

            }
        }
        .form{
            display: flex;
            padding: 2rem;
            @media only screen and (max-width: 31.25em){
                padding: 0;
                height: 30vh;
                background-image: url(images/bg-sidebar-mobile.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                // width: 100vw;
                // display: flex;
                // flex-direction: column;
            }
}